@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  /* primitive colors */
  --color-white-100: #ffffff;
  --color-gray-100: #c9d1d9;
  --color-gray-200: #8b949e;
  --color-gray-300: #6e7681;
  --color-gray-400: #484f58;
  --color-gray-500: #30363d;
  --color-gray-600: #f0f0f0;
  --color-gray-700: #999999;
  --color-blue-100: #646cff;
  --color-blue-200: #747bff;
  --color-blue-300: #5865f2;
  --color-blue-400: #4f46e5;
  --color-red-100: #f87171;
  --color-orange-100: #fb923c;
  --color-pink-100: #f472b6;
  --color-purple-100: #a78bfa;

  --color-info-100: #3451b2;
  --color-info-50: #e7f3ff;
  --color-tip-100: #16a085;
  --color-tip-50: #f0f9ff;
  --color-warning-100: #e6a700;
  --color-warning-50: #fff8e1;
  --color-danger-100: #e74c3c;
  --color-danger-50: #ffebee;
  --color-note-100: #5b7fa8;
  --color-note-50: #f6f8fa;

  --bg-dark-100: #1b1b1f;
  --bg-card-100: #161618;
  --bg-code-100: #2a2a2e;
  --border-dark-100: #2e2e32;

  /* typography */
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-2xl: 48px;

  --max-width-pc: 1440px;
}

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: var(--color-white-100);
  --color-secondary: var(--color-gray-100);
  --color-link: var(--color-blue-100);
  --color-link-hover: var(--color-blue-200);
  --color-link-active: var(--color-blue-400);
  --color-meta: var(--color-gray-200);
  --color-code: var(--color-blue-100);
  --color-text-light: var(--color-gray-600);
  --color-text-muted: var(--color-gray-700);

  --color-info: var(--color-info-100);
  --color-info-bg: var(--color-info-50);
  --color-info-text: var(--color-info-100);
  --color-note: var(--color-note-100);
  --color-note-bg: var(--color-note-50);
  --color-note-text: var(--color-note-100);
  --color-tip: var(--color-tip-100);
  --color-tip-bg: var(--color-tip-50);
  --color-tip-text: var(--color-tip-100);
  --color-warning: var(--color-warning-100);
  --color-warning-bg: var(--color-warning-50);
  --color-warning-text: var(--color-warning-100);
  --color-danger: var(--color-danger-100);
  --color-danger-bg: var(--color-danger-50);
  --color-danger-text: var(--color-danger-100);

  --background-color-*: initial;
  --background-color-base: var(--bg-dark-100);
  --background-color-card: var(--bg-card-100);
  --background-color-code: var(--bg-code-100);
  --background-color-tag: var(--color-gray-500);
  --background-color-tag-hover: var(--color-gray-400);
  --background-color-card-hover: var(--color-gray-500);

  --border-base: var(--border-dark-100);

  --text-*: initial;
  --text-small: var(--text-sm);
  --text-content: var(--text-md);
  --text-heading-first: var(--text-2xl);
  --text-heading-second: var(--text-xl);
  --text-heading-third: var(--text-lg);
}

html,
body {
  @apply text-primary bg-base scroll-smooth font-[Noto_Sans_JP];

  scrollbar-width: none;
  -ms-overflow-style: none;
}
