---
import type { Category } from "~/constants/categories";

type Props = {
  categories: Category[];
};
const { categories } = Astro.props;
---

{
  categories && categories.length > 0 && (
    <ul class="flex flex-wrap items-center gap-2">
      {categories.map((category: Category) => {
        return (
          <li>
            <a
              href={category === "すべて" ? "/" : `/?category=${category}`}
              class:list={[
                "text-small ease inline-flex items-center rounded-full px-2 py-1 leading-none no-underline transition-colors duration-300",
                "bg-tag text-secondary hover:bg-tag-hover hover:text-primary",
              ]}
            >
              {category}
            </a>
          </li>
        );
      })}
    </ul>
  )
}
