---
import type { Category } from "~/constants/categories";

type Props = {
  categories: Category[];
};
const { categories } = Astro.props;
---

{
  categories && categories.length > 0 && (
    <div class="flex items-center gap-2 text-[0.9rem]">
      <ul class="flex flex-wrap gap-2">
        {categories.map((category: Category) => {
          return (
            <li>
              <a
                href={category === "すべて" ? "/" : `/?category=${category}`}
                class:list={[
                  "ease hover:bg-tag-hover text-primary border-primary inline-block rounded border px-3 py-2 leading-none no-underline transition-colors duration-300",
                ]}
              >
                {category}
              </a>
            </li>
          );
        })}
      </ul>
    </div>
  )
}
