---
type Props = {
  headings: {
    depth: number;
    slug: string;
    text: string;
  }[];
};

const { headings } = Astro.props;
---

{
  headings.length > 0 && (
    <nav class="bg-tag scroll top-4 order-1 h-max max-h-[calc(100vh-32px)] overflow-scroll rounded-lg px-12 py-8 shadow-lg md:order-2 lg:sticky lg:order-2">
      <ul class="list-disc space-y-2">
        {headings.map((heading) => (
          <li class:list={{ "ml-4": heading.depth === 3 }}>
            <a
              href={`#${heading.slug}`}
              class:list={{ "font-bold": heading.depth === 2 }}
              class="text-link hover:text-link-hover transition-colors"
            >
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
